.dropbtn {
  color: #2B3445;
  font-size: 14px;
  margin-right: 32px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
}

.dropdown_content .dropdown {
  color: #2B3445;
  padding: 12px 16px;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.dropdown_content .dropdown:hover {
  background-color: #F6F9FC;
}

.dropdown:hover .dropdown_content {
display: grid;
grid-template-columns: repeat(3, 1fr);}

.dropdown:hover .dropbtn {
  color: #e94560;
}

.dropbtn2 {
  background-color: #FFFFFF;
  color: #2B3445;
  padding: 16px;
  font-size: 14px;
  border: none;
  white-space: nowrap;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown_content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content2 a {
  color: #2B3445;
  padding: 12px 16px;
  text-decoration: none;
display: grid;
grid-template-columns: repeat(3, 1fr);
  white-space: nowrap;
}

.dropdown_content2 a:hover {
  color: #e94560;
  background-color: #F6F9FC
}

.dropdown2:hover .dropdown_content2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dropdown2:hover .dropbtn2 {
  color: #e94560;
  background-color: #F6F9FC
}
 